body {
    background: #F8F8F8;
}

.main-top-logo {
    width: 250px;
    height: auto;
}

.forgot-password-title {
    color: #333;
    margin-bottom: 25px;
    margin-top: 20px;
    text-align: center;
}

.forgot-password-description {
    text-align: justify;
    color: #333;
    margin-bottom: 25px;
}

.forgot-password-login-box {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}